// main: ../style.scss
.footer {
  font-family: Inter, serif;
  font-size: 2rem;
  line-height: 50px;
  font-weight: 400;
}
//
.footer__container {
  display: flex;
  min-height: 150px;
  justify-content: space-between;
  text-align: center;
}

.footer__info {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  gap: 20px;
}


.footer__info-link {
  transition: .3s;

  &:hover {
    color: $gold;
  }
}

.footer__logo {
 display: flex;
  justify-content: center;
  align-items: center;
}


.footer__logo-link {
  color: $white;

  transition: .3s;

  &:hover {
    color: $gold;
  }
}

.footer__info-link {
  color: $white;

}

.footer__social {
  display: flex;
  position: relative;
  right: 20px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer__social-icon {
  width: 32px;
  height: 32px;

  transition: .3s;

  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
}
