// main: ../style.scss
.footer {
  font-family: Inter, serif;
  font-size: 2rem;
  line-height: 50px;
  font-weight: 400;
  min-height: 150px;

  @media (max-width: 768px) {
    min-height: 190px;
  }


}
//
.footer__container {
  display: flex;
  min-height: 150px;
  justify-content: space-between;
  text-align: center;

  @media (max-width: 768px) {
    //width: 210px;
    //height: 134px;
    //gap: 20px;
    min-height: 190px;
    padding: 0 0 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

.footer__info {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  gap: 20px;

  @media (max-width: 768px) {
    line-height: 24px;
    margin: 0;
  }
}


.footer__info-link {
  transition: .3s;

  &:hover {
    color: $gold;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 16px 0;
    line-height: 24px;
  }

}


.footer__logo-link {
  color: $white;

  transition: .3s;

  &:hover {
    color: $gold;
  }
}

.footer__info-link {
  color: $white;
  }

.footer__social {
  display: flex;
  position: relative;
  right: 20px;

  @media (max-width: 768px) {
    top: 12px;
    right: 0;
  }

}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.footer__social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-icon {
  text-align: center;
  width: 32px;
  height: 32px;

  transition: .3s;

  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
}
