// main: ../style.scss
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding: 0 20px;
}

.logo img {
  transition: 0.3s;

  @media (max-width: 768px) {
    padding: 0 0 0 40px;
  }

  @media (max-width: 468px) {
    padding: 0 0 0 10px;
  }

  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}

.header_menu-hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  z-index: 2;
  gap: 4px;

  @media (max-width: 768px) {
    display: flex;
    width: 60px;
    height: 50px;
  }
}


.header__menu {
  margin-left: auto;
}

.nav {
  padding: 0 20px 0 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.nav__link {
  padding: 0 15px;
  line-height: 250%;
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 400;
  color: $white;

  transition: .3s;

  &:hover {
    color: $gold;
  }
}

.language-switcher {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-family: Inter, serif;
  font-size: 2rem;
  font-weight: 700;
  color: $white;

  @media (max-width: 768px) {
    padding: 0 115px 0 0;
  }

}

.language-switcher__elem {

  &:nth-child(1) {
    color: $gold;
  }

  &:nth-child(2) {
    @media (max-width: 768px) {
      padding: 0 10px 0 2px;
    }
  }

}
