// main: ../style.scss
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding: 0 20px;
}

.logo {
    background-image: url('../../assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;

  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
}

.nav {
  margin-left: auto;

}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 0 50px;
}

.nav__link {
  padding: 0 15px;
  line-height: 250%;
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 400;
  color: $white;

  transition: .3s;

  &:hover {
    color: $gold;
  }
}

.language-switcher {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 8px;
  font-family: Inter, serif;
  font-size: 2rem;
  font-weight: 700;
  color: $white;
}
.language-switcher__elem {
  padding: 0 0 0 9px;

  &:nth-child(1) {
    color: $gold;
  }
}
