// main: ../style.scss
.portfolio__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 60px 0 60px 0;
}

.portfolio__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 0 100px 0;
}

.portfolio__gallery-item:nth-child(1) {
  width: 450px;
  height: 560px;
  background: url('../../assets/img/portfolio-img.jpg');
}
.portfolio__gallery-item:nth-child(2) {
  width: 450px;
  height: 560px;
  background: url('../../assets/img/portfolio-img-1.jpg');
}
.portfolio__gallery-item:nth-child(3) {
  width: 450px;
  height: 560px;
  background: url('../../assets/img/portfolio-img-2.jpg');
}
.portfolio__gallery-item:nth-child(4) {
  width: 450px;
  height: 560px;
  background: url('../../assets/img/portfolio-img-3.jpg');
}
.portfolio__gallery-item:nth-child(5) {
  width: 450px;
  height: 560px;
  background: url('../../assets/img/portfolio-img-4.jpg');
}
.portfolio__gallery-item:nth-child(6) {
  width: 450px;
  height: 560px;
  background: url('../../assets/img/portfolio-img-5.jpg');
}


