// main: ../style.scss
.section-title__container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0 auto;
  width: 700px;
  height: 80px;
  position: relative;

}

.section-title {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  font-family: Merriweather, serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 8rem;
  color: $dark-gold;

  &:before,
  &:after{
    content: "";
    width: 400px;
    height: 2px;
    background-color: $dark-gold;
  }

  &:before {
    margin-right: 20px;
  }

  &:after {
    margin-left: 20px;
  }
}