// main: ../style.scss
.section-title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 100px 0 0 0;
  margin: 0 auto;
  max-width: 700px;
  //max-height: 80px;
  //position: relative;

  @media (max-width: 768px) {
    padding: 80px 0 0 0;
    max-width: 364px;
    //height: 80px;
  }

}

.section-title {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  font-family: Merriweather, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 200%;
  color: $dark-gold;

  &:before,
  &:after{
    content: "";
    width: 400px;
    height: 2px;
    background-color: $dark-gold;
  }

  &:before {
    margin-right: 20px;
  }

  &:after {
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 125%;
    padding: 20px 136px;
  }
}