// main: ../style.scss
.skills {

}

.skills__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 60px 0 0 0;
  font-family: Inter, serif;

  @media (max-width: 768px) {
    padding: 45px 45px 20px 40px;
    margin: 0 0 -20px 0;
  }
}

.skills__list-column {
  min-width: 320px;
  //min-height: 240px;
  flex: 0 1 25%;
  padding: 0 22px;
  margin: 0 0 10px 0;

  @media (max-width: 768px) {
    flex: 0 0 50%;
    min-width: 300px;
    //min-height: 240px;
    margin: 0 0 36px 0;
  }
}

.skills__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    padding: 0 0 40px 0;
  }
}

.skills__item-icon {
  height: 100%;
}

.skills__item-title {
  padding: 50px 20px 20px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 200%;
  text-align: center;
  color: $white;

  @media (max-width: 768px) {
    padding: 28px 20px 23px 20px;
  }


}

.skills__item-text {
  max-width: 280px;
  //max-height: 72px;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  text-align: center;

  @media (max-width: 768px) {
    line-height: 22px;
  }
}