// main: ../style.scss
.video {
  margin: 0 0 100px 0;
}
.video__player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0 21px;
  width: 1400px;
  height: 705px;
  background-image: url('/portfolio/assets/img/video_player.jpg');
}

.video__player-button {
  width: 130px;
  height: 130px;
  background-image: url('/portfolio/assets/svg/play_hover.svg');
}