// main: ../style.scss
.video {

}


.video__player {
  background: url('../../assets/img/video_player.jpg') no-repeat center 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 705px;
  top: 0;
  left: 0;
  margin: 60px 0 0 0;

  @media (max-width: 768px) {
    //background-position: -100px -30px;
    //background-size: auto 620px;
    //img {
    //  //object-position: 35px;
    //  width: 768px;
    //  //height: 59%;
    //}
    margin: 50px 0 0 0;
    //background-image: url(assets/img/video-player-768.jpg);
    background: url('../../assets/img/video-player-768.jpg') no-repeat left;
    width: 768px;
    height: 418px;
  }
}

.video__player-button {
  width: 130px;
  height: 130px;
  background: url('../../assets/svg/play_hover.svg') no-repeat center 0;

  transition: 0.3s;

  @media (max-width: 768px) {
    width: 64px;
    height: 64px;
    background-size: 100%;
  }

  &:hover {
    filter: invert(76%) sepia(39%) saturate(400%)
    hue-rotate(5deg) brightness(250%) contrast(88%);
  }
}