// main: ../style.scss
.video {

}


.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px 0 0 0;

  @media (max-width: 768px) {
    height: 628px;
    background-position: center;

  }
}

.video__player-button {
  position: absolute;
  width: 130px;
  height: 130px;
  background: url('../../assets/svg/play_hover.svg') no-repeat center 0;

  transition: 0.3s;

  &:hover {
    filter: invert(76%) sepia(39%) saturate(400%)
    hue-rotate(5deg) brightness(250%) contrast(88%);
  }
}