*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

textarea {
  resize: none;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.btn-gold {
  width: 220px;
  height: 55px;
  font-family: Inter, serif;
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  background-color: #BDAE82;
  text-decoration: none;
  transition: 0.3s;
}
@media (max-width: 468px) {
  .btn-gold {
    font-size: 16px;
    width: 180px;
    height: 40px;
  }
}
.btn-gold:hover {
  color: #ffffff;
}

.btn-transparent {
  width: 220px;
  height: 55px;
  font-family: Inter, serif;
  font-size: 2rem;
  font-weight: 400;
  border: 2px solid #CCBA8D;
  color: #CCBA8D;
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s;
}
@media (max-width: 468px) {
  .btn-transparent {
    font-size: 16px;
    width: 180px;
    height: 40px;
  }
}
.btn-transparent:hover {
  color: #ffffff;
}

button:hover, button:focus {
  transition: 0.7s;
  color: #fff;
}

.pulse:hover, .pulse:focus {
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #CCBA8D;
  }
}
.slide:hover, .slide:focus {
  box-shadow: inset 13em 0 0 0 #CCBA8D;
}

body.white-theme {
  background-color: white;
}

.skills.white-theme {
  color: #000000;
}

.price.white-theme {
  color: #000000;
}

.section-title.white-theme {
  color: #000000;
}
.section-title.white-theme:before, .section-title.white-theme:after {
  background-color: #000000;
}

.btn-transparent.white-theme {
  color: #000000;
}
.btn-transparent.white-theme:hover {
  color: #ffffff;
  background-color: #CCBA8D;
}

@media (max-width: 768px) {
  .header__menu.white-theme {
    color: #000000;
    background-color: #ffffff;
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding: 0 20px;
}

.logo img {
  transition: 0.3s;
}
@media (max-width: 768px) {
  .logo img {
    padding: 0 0 0 40px;
  }
}
@media (max-width: 468px) {
  .logo img {
    padding: 0 0 0 10px;
  }
}
.logo img:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header__menu-burger {
  display: none;
}

@media (min-width: 769px) {
  .header__menu {
    margin-left: auto;
    padding: 0 20px 0 0;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav__link {
    padding: 0 15px;
    line-height: 250%;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    transition: 0.3s;
  }
  .nav__link:hover {
    color: #CCBA8D;
  }
}
@media (max-width: 768px) {
  .header__menu-burger {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 60px;
    height: 50px;
    margin: 0 59px 0 0;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    gap: 4px;
    transition: 0.3s;
  }
}
@media (max-width: 768px) and (max-width: 468px) {
  .header__menu-burger {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 768px) {
  .header__menu-burger:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}
@media (max-width: 768px) {
  .strip {
    width: 80%;
    height: 2px;
    background: #ffffff;
    margin: 3px 0;
    z-index: 10;
    transition: all 1s ease 0s;
  }
}
@media (max-width: 768px) {
  .strip._open {
    background: #000000;
  }
}
@media (max-width: 768px) {
  .header__menu-burger._active .strip:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 7px);
  }
}
@media (max-width: 768px) {
  .header__menu-burger._active .strip:nth-child(2) {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .header__menu-burger._active .strip:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -7px);
  }
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    width: 620px;
    height: 100vh;
    background-color: black;
    right: -768px;
    top: 0;
    padding: 134px 0 0 127px;
    align-items: flex-start;
    transition: all 1s ease 0s;
    overflow: auto;
  }
}
@media (max-width: 768px) and (max-width: 500px) {
  .header__menu {
    padding: 134px 0 0 330px;
  }
}
@media (max-width: 768px) {
  .header__menu._active {
    transform: translate(-768px, 0);
  }
}
@media (max-width: 768px) {
  .nav__list {
    font-size: 35px;
    line-height: 208%;
  }
}
@media (max-width: 768px) and (max-width: 500px) {
  .nav__list {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .nav__item:not(:last-child) {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 768px) {
  .nav__link {
    color: inherit;
    transition: 0.3s;
  }
  .nav__link:hover {
    color: #CCBA8D;
  }
}
.language-switcher {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0 20px 0 0;
}
.language-switcher button {
  font-family: Inter, serif;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 768px) {
  .language-switcher {
    margin-left: auto;
  }
}

.btn-switcher:hover {
  color: #CCBA8D;
}

.btn-switcher._active {
  color: #CCBA8D;
}

.theme__switcher {
  width: 45px;
  height: 45px;
  background: url("../../assets/svg/sun.svg") no-repeat 0 center;
  cursor: pointer;
  transition: 0.3s;
}
.theme__switcher:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
@media (max-width: 768px) {
  .theme__switcher {
    margin: 0 110px 0 0;
  }
}
@media (max-width: 468px) {
  .theme__switcher {
    margin: 0 70px 0 0;
  }
}

.theme__switcher.white-theme {
  background: url("../../assets/svg/moon.svg") no-repeat 0 center;
}

.hero-container {
  position: relative;
}

.hero__content-container {
  position: relative;
  z-index: 2;
  max-width: 550px;
  padding: 250px 0 330px 80px;
}
@media (max-width: 768px) {
  .hero__content-container {
    max-width: 450px;
    padding: 168px 0 152px 60px;
  }
}
@media (max-width: 468px) {
  .hero__content-container {
    max-width: 300px;
    padding: 168px 0 100px 30px;
  }
}

.hero__title {
  font-family: Merriweather, serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 200%;
  color: #ffffff;
  margin: 0 0 10px 0;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 32px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 468px) {
  .hero__title {
    font-size: 26px;
  }
}

.hero__text {
  font-family: Inter, serif;
  font-size: 20px;
  line-height: 200%;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 25px 0;
}
@media (max-width: 768px) {
  .hero__text {
    line-height: 24px;
    margin: 0 0 60px 0;
  }
}
@media (max-width: 468px) {
  .hero__text {
    font-size: 16px;
  }
}

.hero__image {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 992px) {
  .hero__image {
    background-position: -140px -140px;
  }
}
@media (max-width: 768px) {
  .hero__image {
    height: 590px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }
}
@media (max-width: 468px) {
  .hero__image {
    background-position: -370px -140px;
  }
}

.skills__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 60px 0 0 0;
  font-family: Inter, serif;
}
@media (max-width: 768px) {
  .skills__list {
    padding: 45px 45px 20px 40px;
    margin: 0 0 -20px 0;
  }
}

.skills__list-column {
  min-width: 320px;
  flex: 0 1 25%;
  padding: 0 22px;
  margin: 0 0 10px 0;
}
@media (max-width: 768px) {
  .skills__list-column {
    flex: 0 0 50%;
    min-width: 300px;
    margin: 0 0 36px 0;
  }
}

.skills__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .skills__item {
    padding: 0 0 40px 0;
  }
}

.skills__item-icon {
  height: 100%;
}

.skills__item-title {
  padding: 50px 20px 20px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 200%;
  text-align: center;
  color: inherit;
}
@media (max-width: 768px) {
  .skills__item-title {
    padding: 28px 20px 23px 20px;
  }
}

.skills__item-text {
  max-width: 280px;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  text-align: center;
}
@media (max-width: 768px) {
  .skills__item-text {
    line-height: 22px;
  }
}

.section-title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 100px 0 0 0;
  margin: 0 auto;
  max-width: 700px;
}
@media (max-width: 768px) {
  .section-title__container {
    padding: 80px 0 0 0;
    max-width: 364px;
  }
}
@media (max-width: 390px) {
  .section-title__container {
    max-width: 250px;
  }
}

.section-title {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  font-family: Merriweather, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 200%;
  color: #BDAE82;
}
.section-title:before, .section-title:after {
  content: "";
  width: 400px;
  height: 2px;
  background-color: #BDAE82;
}
.section-title:before {
  margin-right: 20px;
}
.section-title:after {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
    line-height: 125%;
    padding: 20px 136px;
  }
}
@media (max-width: 390px) {
  .section-title {
    font-size: 24px;
    line-height: 100%;
  }
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.portfolio__btn-container {
  display: flex;
  flex: 0 0 25%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 60px 0;
}
@media (max-width: 768px) {
  .portfolio__btn-container {
    max-width: 450px;
    margin: 50px 0 60px 0;
  }
}

.portfolio-btn.active {
  color: #000000;
  background-color: #CCBA8D;
}

.portfolio-btn.white-theme.active {
  color: #ffffff;
  background-color: #CCBA8D;
}

.portfolio__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 468px) {
  .portfolio__gallery {
    gap: 10px;
  }
}

.portfolio__gallery-item {
  max-width: 450px;
}

.portfolio__photo {
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 468px) {
  .portfolio__photo {
    padding: 0 25px;
    max-width: 100%;
    object-fit: cover;
  }
}

.portfolio__photo._active {
  opacity: 0;
}

.video__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid #CCBA8D;
  position: relative;
  font-size: 0;
  margin: 60px 0 0 0;
  overflow: hidden;
}

.video__player-button {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: url("../../assets/svg/play_hover.svg") no-repeat 0 center;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .video__player-button {
    width: 64px;
    height: 64px;
    background-size: 100%;
  }
}
.video__player-button:hover {
  filter: invert(76%) sepia(39%) saturate(400%) hue-rotate(5deg) brightness(250%) contrast(88%);
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .player__controls {
    height: calc(30px + 30 * (100vw - 320px) / 448);
  }
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player__controls:hover .progress {
  height: 10px;
}

.player__controls-container {
  width: 100%;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .player__controls-container {
    margin: calc(0px + 10 * (100vw - 320px) / 448) calc(0px + 10 * (100vw - 320px) / 448);
  }
}

.player__controls > * {
  display: flex;
}

.controls-item {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

.player__play-pause-icon {
  width: 3rem;
  height: 3rem;
  background: url(../../assets/svg/play.svg) no-repeat center 0;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
}
@media (max-width: 768px) {
  .player__play-pause-icon {
    height: calc(20px + 5 * (100vw - 320px) / 448);
  }
}

.player__volume-icon {
  width: 3rem;
  height: 3rem;
  margin: 0 10px 0 30px;
  background: url(../../assets/svg/volume.svg) no-repeat center 0;
  cursor: pointer;
  background-size: contain;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .player__volume-icon {
    height: calc(20px + 5 * (100vw - 320px) / 448);
    margin-right: calc(0px + 10 * (100vw - 320px) / 448);
    margin-left: calc(0px + 30 * (100vw - 320px) / 448);
  }
}

.player__slider-container {
  width: 150px;
  display: flex;
  flex: 5;
  align-items: center;
}
@media (max-width: 768px) {
  .player__slider-container {
    height: calc(20px + 5 * (100vw - 320px) / 448);
    width: calc(50px + 100 * (100vw - 320px) / 448);
  }
}

.player__slider-volume {
  background: linear-gradient(to right, #bdae82 0%, #bdae82 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  border: solid 2px #c8c8c8;
  border-radius: 4px;
  height: 10px;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.player__full-icon {
  width: 3rem;
  height: 3rem;
  background: url(../../assets/svg/fullscreen.svg) no-repeat center 0;
  cursor: pointer;
  background-size: contain;
  transition: 0.3s;
}

.player__full-icon:before {
  background-color: white;
}

.player__slider-volume::-webkit-slider-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #CCBA8D;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.progress__filled {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.progress__filled::-webkit-slider-thumb {
  display: none;
}

/* unholy css to style input type="range" */
.price__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 60px 0 0 0;
}
@media (max-width: 768px) {
  .price__content-container {
    margin: 50px 0 0 0;
    gap: 50px;
  }
}

.price__content-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  height: 505px;
  border: #CCBA8D 2px solid;
}
@media (max-width: 768px) {
  .price__content-item {
    width: 420px;
  }
}
@media (max-width: 468px) {
  .price__content-item {
    width: 270px;
    height: 480px;
  }
}

.price__content-item-title {
  font-family: Merriweather, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 200%;
  margin: 43px 0 20px 0;
}
@media (max-width: 468px) {
  .price__content-item-title {
    font-size: 24px;
  }
}

.price__content-item-price {
  font-family: Merriweather, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 200%;
  color: #CCBA8D;
  margin: 0 0 18px 0;
}
@media (max-width: 468px) {
  .price__content-item-price {
    font-size: 18px;
  }
}

.item-description__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 0 37px 0;
}
@media (max-width: 768px) {
  .item-description__container {
    margin: 0 0 40px 0;
  }
}

.price__content-item-description {
  display: block;
  font-family: Inter, serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 36px;
}

.contacts__content-container {
  display: flex;
  justify-content: flex-end;
  background: url("../../assets/img/contacts.jpg");
  margin: 100px 0 auto;
  width: 100%;
  height: 700px;
}
@media (max-width: 768px) {
  .contacts__content-container {
    justify-content: center;
    margin: 80px 0 auto;
    background: url("../../assets/img/contacts-768.jpg");
    height: 600px;
    background-size: auto;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 445px;
  margin: 60px 20px 0 0;
}
@media (max-width: 768px) {
  .contacts__container {
    align-items: center;
    margin: 60px 0 0 0;
  }
}

.contacts__forms {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 20px;
  margin: 0 0 30px 0;
}
@media (max-width: 468px) {
  .contacts__forms {
    width: 250px;
  }
}

.contacts__title {
  font-family: Merriweather, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 200%;
  color: #BDAE82;
  margin: 0 0 40px 0;
}
@media (max-width: 768px) {
  .contacts__title {
    text-align: center;
    font-size: 32px;
    line-height: 200%;
  }
}

.contacts__email {
  height: 50px;
  border: #CCBA8D solid 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.contacts__phone {
  height: 50px;
  border: #CCBA8D solid 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.contacts__message {
  height: 100px;
  border: #CCBA8D solid 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

::placeholder {
  font-family: Inter, serif;
  color: #bdae82;
  font-size: 2rem;
  font-weight: 400;
  line-height: 40px;
  padding: 5px 0 0 20px;
}

.footer {
  font-family: Inter, serif;
  font-size: 2rem;
  line-height: 50px;
  font-weight: 400;
  min-height: 150px;
}
@media (max-width: 768px) {
  .footer {
    min-height: 190px;
  }
}

.footer__container {
  display: flex;
  min-height: 150px;
  justify-content: space-between;
  text-align: center;
  background-color: #000000;
}
@media (max-width: 768px) {
  .footer__container {
    min-height: 190px;
    padding: 0 0 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__container .footer__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__info {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__info {
    line-height: 24px;
    margin: 0;
  }
}

.footer__info-link {
  transition: 0.3s;
}
.footer__info-link:hover {
  color: #CCBA8D;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__logo {
    padding: 16px 0;
    line-height: 24px;
  }
}

.footer__logo-link {
  color: #ffffff;
  transition: 0.3s;
}
.footer__logo-link:hover {
  color: #CCBA8D;
}

.footer__info-link {
  color: #ffffff;
}

.footer__social {
  display: flex;
  position: relative;
  right: 20px;
}
@media (max-width: 768px) {
  .footer__social {
    top: 12px;
    right: 0;
  }
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer__social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-icon {
  text-align: center;
  width: 32px;
  height: 32px;
  transition: 0.3s;
}
.footer__social-icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

/*# sourceMappingURL=style.css.map */
