//main: ../style.scss
.header {
  background-color: rgba(222, 160, 2, 1);
}

._container {
  box-sizing: content-box;

}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;

  font-size: 2rem;
}

.header__logo-container {
  font-size: 4rem;
}

.header__logo {
  opacity: 0.8;
  max-width: 100%;
}

.search {
  background-color: transparent;
  width: 100%;
  color: white;
  border: 3px solid rgba(181, 120, 5, 0.8);
  font-size: inherit;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.search::placeholder {
  color: rgba(181, 120, 5, 0.8);
}

.search:focus {
  outline: none;
  background-color: rgba(181, 120, 5, 0.2);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}