//main: ../style.scss
.header {
  background-color: rgba(222, 160, 2, 1);
}



.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.header__logo-container {
  font-size: 3rem;
}

.header__logo {
  color: rgba(255, 255, 255, 0.8);
  max-width: 100%;
}


.link__top-popular {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}

.link__top-await {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}

label {
  position: relative;
}

.submit {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 1.3rem;
  transform: translate(0, -50%);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;

}

.search {
  background-color: transparent;
  width: 100%;
  max-height: 3rem;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: inherit;
  border-radius: 3rem;
  padding: 0.5rem 3.2rem;
  outline: none;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search:focus {
  outline: none;
  background-color: rgba(181, 120, 5, 0.2);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.close {
  background: transparent;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);

  //-webkit-appearance: none;
}
